<p>
  <b>Id:</b>
  <%=h @tipo_filtro.id %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @tipo_filtro.nombre %>
</p>


<%= link_to 'Edit', edit_tipo_filtro_path(@tipo_filtro) %> |
<%= link_to 'Back', tipo_filtros_path %>