<!-- novedades -->
             
<div id="banner_internas">
 <div id="banner_adentro_articulos"> 
   <div id="publicidades_internas">
    <div id="direccion"> 
      
        <h2> ¿Sabías que...?</h2>
        <br />
        <br />
        Nuestro producto es 100% chaqueño, con diseño de ingenieria en nuestra propia oficina técnica<br />
        <br />
          </div>
            <div id="catalogo_interna"><a href="lista_de_precios.html"><img src="/img/precios.jpg" width="247" height="350" /></a></div>
              </div>
                </div>
                   </div>
          
<!-- informacion -->

 <div id="texto">
   <div id="informacion">
     <br />
     <br />
     <h2>Articulos</h2>
     <br />
     <br />
     <img src="/img/ilustracion_internas/descarga-articulos.jpg" width="412" height="500" />
     <div id="caja6"> 
       <h6><a href="/upload/showNew" target="_blank" class="texto_vinculo">Descargar</a></h6>
     </div>
      <br />
      <br />
      <br />
      <br />
      
        </div>
           </div>