<div id="banner_internas">
 <div id="banner_adentro_calidad"> 
   <div id="publicidades_internas">
    <div id="direccion"> 
      
        <h2>¿Sabías que...?</h2>
  
        
        <br />
        <br />
Todos las piezas semi-elaboradas por nosotros, como tapas, bridas, carcazas, tubos, metal desplegado, chapa perforada, partes de polipropileno.se producen en nuestra fábrica.
        <br />
        <br />
    </div>
       <div id="catalogo_interna"><a href="contacto" target="_blank"><img src="/img/contacto.jpg" width="247" height="350" /></a></div>
         </div>
  </div>
    
 
</div>
          
<!-- informacion -->

 <div id="texto">
   <div id="informacion">
     <br />
     <br />
     <h2>Calidad Filtros Hasting</h2>
       <br />
       <br />
       </p>
       La Planta industrial de Hasting Filtros, la cual se encuentra ubicada en la ciudad de Resistencia, Provincia del Chaco, República Argentina, produce una amplia gama de "Filtros para Aire, Aceite, Combustible, Hidráulicos y Filtros Especiales" para la protección de motores y sistemas de filtración, con la mejor relación precio/calidad del mercado, cumpliendo con todos los requisitos y normativas legales, acompañado de un excelente servicio en la atención, asesoramiento técnico y garantía, con el fin de lograr la satisfacción de nuestros clientes.</p>
      <br />
      <br />
 </p>Para lograrlo la Dirección se compromete a: </p>
      <br />
      <br />
      
 </p>Proveer materia prima de calidad, que cumplan con los exigencias de la mecánica actual. </p>
    
       <br />
 </p>Incluir adelantos tecnológicos que nos permitan ofrecer filtros de máxima calidad y rendimiento. </p>
    
       <br />
 </p>Brindar capacitaciones permanentes a nuestro personal. </p>
  
       <br />
 </p> Ofrecer un asesoramiento técnico especializado a nuestros Clientes. </p>
      <br />
      <br />
Cumpliendo cada una de estas premisas la  organización, en su conjunto, se orientará hacia la Mejora Continua, trabajando en equipo en pos de brindar un producto de excelencia.
       <br />
       <br />
Esta Política de Calidad es comunicada a todo el personal, y examinada anualmente en la Revisión del Sistema por la Dirección.
       <br />
       <br />

</p>Dirección  Hasting Filtros.</p>
     
     <br />
     <br />
     <br />
     <br />
     
   </div>
</div>