<!-- certificado iso -->
             
<div id="banner_internas">
 <div id="banner_adentro_iso"> 
   <div id="publicidades_internas">
    <div id="direccion"> 
      
        <h2> ¿Sabías que...?</h2>
        <br />
        <br />
        Contamos con 7.000 m2 de superficie cubierta en Resistencia-Chaco.+
      
        <br />
        <br />
         </div>
           <div id="catalogo_interna"><a href="lista_de_precios.html"><img src="/img/precios.jpg" width="247" height="350" /></a></div>
            </div>
              </div>
                </div>
          
<!-- informacion -->

 <div id="texto">
   <div id="informacion">
     <br />
     <br />
     <h2>Certificado ISO</h2>
        
		<br />
        <br />
       
     <img src="/img/ilustracion_internas/iso_marca.jpg" width="412" height="583" /><br />
       
	   <br />
       <br />
       <br />
       <br />

        </div>
          </div>