<div id="banner_internas">
 <div id="banner_adentro_especiales"> 
   <div id="publicidades_internas">
    <div id="direccion"> 
      
        <h2> ¿Sabías que...?</h2>
        <br />
        <br />
        Todos las piezas semi-elaboradas por nosotros, como tapas, bridas, carcazas, tubos, metal desplegado, chapa perforada, partes de polipropileno.se producen en nuestra fábrica. 
        <br />
        <br />
    </div>
       <div id="catalogo_interna"><a href="catalogo_online" target="_blank"><img src="/img/catalogo.jpg" width="247" height="350" /></a></div>
        </div>
  </div>
    
 
</div>
          
<!-- informacion -->

 <div id="texto">
   <div id="informacion">
     <br />
     <br />
     <h2>Filtro de Especiales</h2>
       <br />
       <br />
       
       
    </p>  Todo sistema de lubricación, circuito oleo-hidráulico, circuito neumático, o  de cualquier fluido en movimiento o circulación forzada, necesita  proteger sus partes vitales del desgaste o simplemente permitir extender  al máximo posible,  el período de vida útil del servicio que presta.
 </p>
       <br />
       <br />
     </p> Para poder cumplir este premisa, casi siempre se recurre a requerimientos de filtrado o separación de impurezas, mediante  un medio filtrante adecuado para  retención de partículas contaminantes, permitiendo siempre el paso del flujo necesario para realizar de manera eficiente el trabajo requerido.</p>
       <br />
       <br />
     </p>  Estas unidades filtrantes pueden tener múltiples aplicaciones y pueden presentarse en una inmensa diversidad de modelos de  acuerdo a su utilización, potencia, caudal, presión,  etc.</p>
       <br />
       <br />
     </p>Dentro de esta gran variedad existen los filtros denominados de uso "estándar" y los "especiales".  </p>
     <br />
       <br />
     </p>Los filtros especiales son partes reemplazables o intercambiables que por lo general tienen dificultad de normal abastecimiento o unidades diseñadas para  cubrir una demanda puntual, las cuales se fabrican a pedido. </p>
       <br />
       <br />
     </p>Filtros HASTING cuenta en la actualidad con  una gran variedad de estos filtros en su cartera de productos vigentes, como así también desde hace varios años a través de una vasta  experiencia y continuo desarrollo, ofrece  a todos sus clientes  la posibilidad de reacondicionar o restaurar los componentes de una unidad filtrante usada, servicio que es realizado siempre y cuando las partes esenciales de su estructura así  lo permitan. </p>
     
     <br />
     <br />
     <br />
     <br />
     
   </div>
</div>