<div id="banner_internas">
 <div id="banner_adentro_historia"> 
   <div id="publicidades_internas">
    <div id="direccion"> 
      
        <h2>¿Sabías que...?</h2>
        <br />
        <br />
      
        
       En Hasting Filtros todos los procesos son integramente realizados en nuestra planta industrial;
     
        incluido pintura y serigrafia.
        

        <br />
        <br />
    </div>
       <div id="catalogo_interna"><a href="catalogo_online" target="_blank"><img src="/img/catalogo.jpg" width="247" height="350" /></a></div>
         </div>
  </div>
    
 
</div>
          
<!-- informacion -->

 <div id="texto">
   <div id="informacion">
     <br />
     <br />
     <h2>Tenemos historia para contar</h2>
       <br />
       <br />
       </p>Hasting Filtros, es una Planta Industrial que ha comenzado su actividad el 9 de Marzo de 1981.
       Posee más de 7000 m2 de superficie cubierta, y se encuentra ubicada en Resistencia, Ciudad Capital de la Provincia del Chaco, en el Nordeste de la República Argentina.</p>
       <br />
       <br />
       
       Nuestros filtros están fabricados con materia prima de calidad, se encuentran a la altura de las más altas exigencias de la mecánica actual.
       <br />
       <br />
       Las instalaciones industriales están dotadas con adelantos tecnológicos de primer nivel, las cuales reciben constantes actualizaciones. Nuestros operarios especializados, se capacitan mes a mes para lograr un mayor rendimiento y obtener un producto que satisfaga las necesidades de los clientes.
       <br />
       <br />
       La mejora continua hace de Hasting una marca comprometida con su calidad.
       <br />
       <br />
       Producimos filtros que cubren las necesidades de las líneas pesadas y livianas, para automotores, camiones, maquinarias agrícolas y equipos para obras viales, tanto nacionales como importadas. Siendo una constante el desarrollo de filtros especiales. 
       <br />
       <br />
       Poseemos una red de distribución que abarca prácticamente todo el territorio nacional, imponiendo su presencia en un mercado altamente competitivo.
     </p>
     <br />
     <br />
     <br />
     <br />
     
   </div>
</div>