<div id="banner_internas">
 <div id="banner_adentro_lista_de_precios"> 
   <div id="publicidades_internas">
    <div id="direccion"> 
      
        <h2>¿Sabías que...?</h2>
        <br />
        <br />
        La tecnología de última generación adquirida y la mano de obra especializada nos ponen a la vanguardia en el rubro, por calidad y la variedad más amplia de modelos del país
        <br />
        <br />
    </div>
      <div id="catalogo_interna"><a href="catalogo_online" target="_blank"><img src="images/catalogo.jpg" width="247" height="350" /></a></div>
        </div>
  </div>
    
 
</div>
          
<!-- informacion -->

 <div id="texto">
   <div id="informacion">
    <br />
     <br />
     <h2>Catalogo Online</h2>
       <br />
       <br />
     		Ingrese la clave para descargar su lista de precios <button onclick="getPricesInPdf()"  style="cursor: pointer;">Ingresar Clave</button>
     <br />
       <br />
       <br />
       <br />
       <br />
       <br />
       <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
    
      
   </div>
</div>