<p>
  <b>Id:</b>
  <%=h @marca_vehiculo.id %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @marca_vehiculo.nombre %>
</p>


<%= link_to 'Edit', edit_marca_vehiculo_path(@marca_vehiculo) %> |
<%= link_to 'Back', marca_vehiculos_path %>